<header class="header">
  <h1>
    <a href="{{ '/' | relative_url }}">Moisés Generator</a>
    <iframe src="http://ghbtns.com/github-btn.html?user=flaviosilveira&repo=moises-generator&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=flaviosilveira&repo=moises-generator&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
  </h1>
  {% include menu.html %}
</header>
