<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="og:site_name" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="og:url" content="http://flaviosilveira.com/moises-suite/">
  <meta property="og:image" content="{{ "/assets/images/moises-suite.png" | absolute_url }}">
  <meta property="article:author" content="http://flaviosilveira.com/">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@flaviosilveira">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta name="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/images/favicons/apple-touch-icon.png" | absolute_url }}">
  <link rel="icon" type="image/png" href="{{ "/assets/images/favicons/favicon-32x32.png" | absolute_url }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ "/assets/images/favicons/favicon-16x16.png" | absolute_url }}" sizes="16x16">
  <link rel="manifest" href="{{ "/assets/images/favicons/manifest.json" | absolute_url }}">
  <link rel="mask-icon" href="{{ "/assets/images/favicons/safari-pinned-tab.svg" | absolute_url }}" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
</head>
