<div class="nav" id="menu">
  <div class="nav__item nav__toggle">
    <label for="silvio">
      <input type="checkbox" checked="checked" id="silvio">
      <span>Sílvio</span>
    </label>
  </div>

  <div class="nav__item nav__toggle">
    <label for="moises">
      <input type="checkbox" checked="checked" id="moises">
      <span>Moisés</span>
    </label>
  </div>

  <div class="nav__item nav__toggle">
    <label for="photos">
      <input type="checkbox" checked="checked" id="photos">
      <span>Fotos</span>
    </label>
  </div>
</div>
