* {
    font-family: sans-serif;
    margin: 0px;
}

#menu {
    background-color: #CCC;
    width: 100%;
    padding: 20px 10px;  
    margin-bottom: 15px; 
}

#content p {
    margin: 10px;
}

#content p span {
    font-weight: 800;
}